.experts{
    @include res('padding-top', 50px);
    @include res('padding-bottom', 50px);
    @include media(576){
        @include resa('padding-top', 60px);
        @include resa('padding-bottom', 50px);
    }
    &__tag{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @include res('gap', 8px);
        @include res('margin-bottom', 80px);
        @include media(576){
            @include resa('gap', 8px);
            @include resa('margin-bottom', 40px);
        }
        &-item{
            @include res('padding-top', 5.5px);
            @include res('padding-bottom', 5.5px);
            @include res('padding-left', 9px);
            @include res('padding-right', 9px);
            @include res('border-radius', 30px);
            @include res('font-size', 12px);
            line-height: 120%;
            background: #F2F7FF;    
            font-weight: 500;
            @include media(576){
                @include resa('padding-top', 5.5px);
                @include resa('padding-bottom', 5.5px);
                @include resa('padding-left', 9px);
                @include resa('padding-right', 9px);
                @include resa('border-radius', 30px);
                @include resa('font-size', 12px);
            }
        }
    }
    &__title{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-weight: 500;
        line-height: 120%;
        @include res('margin-bottom', 100px);
        @include res('max-width', 451px);
        @include res('font-size', 36px);
        &.mb{
            @include res('margin-bottom', 35px);
            @include media(576){
                @include resa('margin-bottom', 24px);
            }
        }
        @include media(576){
            @include resa('margin-bottom', 50px);
            @include resa('max-width', 451px);
            @include resa('font-size', 28px);
        }
    }
    &__subtitle{
        @include res('margin-bottom', 50px);
        @include res('font-size', 23px);
        font-weight: 500;
        line-height: 120%;
        text-transform: uppercase;
        @include media(576){
            @include resa('margin-bottom', 24px);
            @include resa('font-size', 23px);
        }
    }
    &__item{
        background: rgba(#F2F7FF, 0.7);
        display: flex;
        @include res('gap', 80px);
        @include res('padding', 20px);
        @include res('border-radius', 6px);
        @include media(576){
            flex-direction: column;
            @include resa('gap', 24px);
            @include resa('padding', 20px);
            @include resa('border-radius', 6px);
        }
        &:last-of-type{
            @include media(576){
                flex-direction: column-reverse;
            }
        }
        &:not(:last-of-type){
            @include res('margin-bottom', 70px);
            @include media(576){
                @include resa('margin-bottom', 24px);
            }
        }
        &-img{
            @include res('border-radius', 6px);
            @include res('width', 283px);
            @include res('min-width', 283px);
            overflow: hidden;
            line-height: 0;
            @include media(576){
                @include resa('border-radius', 6px);
                width: 100%;
            }
            img{
                width: 100%;
            }
        }
        &-title{
            @include res('margin-bottom', 7px);
            @include res('font-size', 18px);
            font-weight: 500;
            line-height: 120%;
            @include media(576){
                @include resa('margin-bottom', 7px);
                @include resa('font-size', 18px);
            }
        }
        &-link{
            @include res('margin-bottom', 30px);
            @include res('font-size', 18px);
            line-height: 120%;
            @include media(576){
                @include resa('margin-bottom', 30px);
                @include resa('font-size', 18px);
            }
        }
        &-p{
            @include res('font-size', 14px);
            line-height: 120%;
            @include media(576){
                @include resa('font-size', 14px);
            }
        }
    }
}
.partners{
    @include res('padding-top', 50px);
    @include res('padding-bottom', 100px);
    @include media(576){
        @include resa('padding-top', 10px);
        @include resa('padding-bottom', 60px);
    }
    &__content{
        display: flex;
        flex-wrap: wrap;
        @include res('row-gap', 40px);
    }
    &__item{
        width: 25%;
        line-height: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            max-width: 90%;
            max-height: 70%;
        }
    }
}
.rating{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include res('row-gap', 70px);
    @include media(576){
        @include resa('row-gap', 15px);
    }
    &__item{
        @include res('padding', 20px);
        @include res('border-radius', 6px);
        @include res('width', 380px);
        color: #fff;
        background: linear-gradient(255deg, #e38ddd 0%, #9571f6 100%);
        @include media(576){
            @include resa('padding', 15px);
            @include resa('border-radius', 6px);
            width: 100%;
            &:nth-child(1){
                order: -5;
            }
            &:nth-child(2){
                order: -4;
            }
            &:nth-child(4){
                order: -1;
            }
        }
        &.icon{
            background: none;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            svg{
                aspect-ratio: 1/1;
                max-width: 90%;
                max-height: 90%;
                height: auto;
            }
        }
        &.white{
            color: #202122;
            background: rgba(#F2F7FF, 0.7);
        }
        &-title{
            @include res('margin-bottom', 15px);
            @include res('font-size', 18px);
            font-weight: 500;
            line-height: 120%;
            @include media(576){
                @include resa('margin-bottom', 10px);
                @include resa('font-size', 16px);
            }
        }
        &-subtitle{
            @include res('margin-bottom', 20px);
            @include res('font-size', 18px);
            font-weight: 400;
            line-height: 120%;
            @include media(576){
                @include resa('margin-bottom', 15px);
                @include resa('font-size', 12px);
            }
        }
        &-p{
            @include res('font-size', 14px);
            font-weight: 400;
            line-height: 120%;
            @include media(576){
                @include resa('font-size', 12px);
            }
        }
    }
}

.r{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    @include res('padding-top', 90px);
    @include res('padding-bottom', 90px);
    @include media(576){
        flex-direction: column;
        @include resa('padding-top', 40px);
        @include resa('padding-bottom', 40px);
    }
    &__left{
        @include res('width', 314px);
        @include res('min-width', 314px);
        @include res('margin-right', 28px);
        @include media(576){
            margin-right: 0;
            width: 100%;
        }
    }
    &__title{
        @include res('margin-bottom', 22px);
        @include res('font-size', 23px);
        font-weight: 500;
        line-height: 120%;
        text-transform: uppercase;
        @include media(576){
            @include resa('margin-bottom', 22px);
            @include resa('font-size', 23px);
        }
    }
    &__subtitle{
        @include res('font-size', 18px);
        @include res('max-width', 279px);
        line-height: 115%;
        @include media(576){
            @include resa('font-size', 18px);
            max-width: 100%;
            @include resa('margin-bottom', 20px);
        }
    }
    &__p{
        @include res('font-size', 14px);
        line-height: 120%;
        @include media(576){
            @include resa('font-size', 14px);
        }
    }
}
.q{
    &.t{
        @include res('margin-bottom', 90px);
        @include media(576){
            @include resa('margin-bottom', 40px);
        }
    }
    &__title{
        @include res('margin-bottom', 50px);
        @include res('font-size', 18px);
        line-height: 120%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        @include media(576){
            text-align: left;
            margin-left: 0; 
            @include resa('margin-bottom', 24px);
            @include resa('font-size', 18px);
        }
    }
    &__row{
        display: flex;
        @include res('gap', 20px);
        @include media(576){
            flex-direction: column;
            @include resa('gap', 10px);
        }
    }
    &__col{
        display: flex;
        flex-direction: column;
        width: 50%;
        @include res('gap', 10px);
        @include media(576){
            width: 100%;
            @include resa('gap', 10px);
        }
    }
    &__item{
        position: relative;
        @include res('padding-left', 19px);
        @include res('font-size', 14px);
        line-height: 120%;
        @include media(576){
            @include resa('padding-left', 19px);
            @include resa('font-size', 14px);
        }
        &.red{
            color: #EB5757;
        }
        &::before{
            content: "";
            position: absolute;
            border-radius: 50%;
            left: 0;
            @include res('top', 2px);
            background: linear-gradient(70deg, #ffc444 0%, #f36f56 100%);
            @include res('width', 8px);
            @include res('height', 8px);
            @include media(576){
                @include resa('top', 2px);
                @include resa('width', 8px);
                @include resa('height', 8px);
            }
        }
    }
}
.f{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    @include res('padding-top', 50px);
    @include res('padding-bottom', 50px);
    @include media(576){
        @include resa('padding-top', 50px);
        @include resa('padding-bottom', 50px);
    }
    &__svg{
        line-height: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        @include res('width', 636px);
        @include res('height', 296px);
        @include media(576){
            @include resa('width', 318px);
            @include resa('height', 148px);
        }
        svg{
            width: 100%;
            height: 100%;
        }
    }
    &__title{
        @include res('margin-bottom', 12px);
        @include res('font-size', 36px);   
        font-weight: 500; 
        @include media(576){
            @include resa('margin-bottom', 12px);
            @include resa('font-size', 36px);   
        }
    }
    &__p{
        @include res('font-size', 16px);
        line-height: 115%;
        text-align: center;
        @include res('margin-bottom', 36px);
        @include res('max-width', 377px);
        @include media(576){
            @include resa('font-size', 16px);
            @include resa('margin-bottom', 36px);
            @include resa('max-width', 320px);
        }
    }
    &__btn{
        background: #6165D7;
        color: #fff;
        font-weight: 500;
        text-decoration: none;
        @include res('border-radius', 6px);
        @include res('font-size', 12px);
        @include res('padding-top', 10px);
        @include res('padding-bottom', 10px);
        @include res('padding-right', 22px);
        @include res('padding-left', 22px);
        @include media(576){
            @include resa('border-radius', 6px);
            @include resa('font-size', 14px);
            @include resa('padding-top', 10px);
            @include resa('padding-bottom', 10px);
            @include resa('padding-right', 22px);
            @include resa('padding-left', 22px);
        }
    }
}