.footer{
    background: #202122;
    @include res('padding-top', 70px);
    @include res('padding-bottom', 70px);
    @include media(576){
        @include resa('padding-top', 40px);
        @include resa('padding-bottom', 40px);
    }
    &__body{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @include media(576){
            flex-direction: column;
            @include resa('gap', 20px);
        }
    }
    &__menu{
        width: 20%;
        display: flex;
        flex-direction: column;
        @include media(576){
            width: 100%;
            align-items: center;
            justify-content: center;
        }
        &.f{
            width: 33%;
            @include res('margin-right', 100px);
            @include media(576){
                width: 100%;
                margin-right: 0;
                order: 1;
                @include resa('margin-top', 20px);
            }
        }
    }
    &__title{
        @include res('font-size', 12px);
        @include res('margin-bottom', 10px);
        color: #fff;
        line-height: 120%;
        @include media(576){
            @include resa('font-size', 14px);
            @include resa('margin-bottom', 10px);
        }
        &.mb{
            @include res('margin-bottom', 16px);
            @include media(576){
                @include resa('margin-bottom', 16px);
            }
        }
    }
    &__link{
        color: #fff;
        text-decoration: none;
        line-height: 120%;
        opacity: .6;
        @include res('font-size', 12px);
        @include media(576){
            text-align: center;
            @include resa('font-size', 14px);
        }
        &:not(:last-of-type){
            @include res('margin-bottom', 10px);
            @include media(576){
                @include resa('margin-bottom', 10px);
            }
        }
    }
}