mixin cld()
    section.cld.container
        .cld__content
            .cld__left.cld__col#clinics
                p.cld__title РЕЙТИНГ КЛИНИК
                .cld__item 
                    .cld__item-content 
                        .cld__item-info 
                            p.cld__item-place 1 МЕСТО
                            p.cld__item-title Конфиденция
                            p.cld__item-p Чайковского, 5/10
                            p.cld__item-score 90 из 100 баллов
                        .cld__item-img 
                            img(src="@img/clinic-1.png", alt="" draggable="false")
                    a(href="#!").cld__item-link Подробнее о клинике → 
                .cld__item 
                    .cld__item-content 
                        .cld__item-info 
                            p.cld__item-place 2 МЕСТО
                            p.cld__item-title Белая Радуга
                            p.cld__item-p Котельническая<br>набережная, 25с1
                            p.cld__item-score 85 из 100 баллов
                        .cld__item-img 
                            img(src="@img/clinic-2.png", alt="" draggable="false")
                    a(href="#!").cld__item-link Подробнее о клинике → 
                .cld__item 
                    .cld__item-content 
                        .cld__item-info 
                            p.cld__item-place 3 МЕСТО
                            p.cld__item-title Beauty Line
                            p.cld__item-p Никольская, 10
                            p.cld__item-score 85 из 100 баллов
                        .cld__item-img 
                            img(src="@img/clinic-3.png", alt="" draggable="false")
                    a(href="#!").cld__item-link Подробнее о клинике → 
                .cld__item 
                    .cld__item-content 
                        .cld__item-info 
                            p.cld__item-place 4 МЕСТО
                            p.cld__item-title Belgravia Dental Studio
                            p.cld__item-p Молодогвардейская, 2к1
                            p.cld__item-score 85 из 100 баллов
                        .cld__item-img 
                            img(src="@img/clinic-4.png", alt="" draggable="false")
                    a(href="#!").cld__item-link Подробнее о клинике → 
                .cld__item 
                    .cld__item-content 
                        .cld__item-info 
                            p.cld__item-place 5 МЕСТО
                            p.cld__item-title Agami Center
                            p.cld__item-p Советской Армии, 17/52
                            p.cld__item-score 85 из 100 баллов
                        .cld__item-img 
                            img(src="@img/clinic-5.png", alt="" draggable="false")
                    a(href="#!").cld__item-link Подробнее о клинике →
                a(href="#!").cld__link Открыть полный рейтинг клиник  
            .cld__right.cld__col#doctors
                p.cld__title.st РЕЙТИНГ ОРТОДОНТОВ
                .cld__item.white  
                    .cld__item-content 
                        .cld__item-info 
                            p.cld__item-place 1 МЕСТО
                            p.cld__item-title Анастасия Вячеславовна Иванова
                            p.cld__item-score 90 из 100 баллов
                        .cld__item-img 
                            img(src="@img/doctor-1.png", alt="" draggable="false")
                    a(href="#!").cld__item-link Подробнее о враче →
                .cld__item.white  
                    .cld__item-content 
                        .cld__item-info 
                            p.cld__item-place 2 МЕСТО
                            p.cld__item-title Анастасия Вячеславовна Иванова
                            p.cld__item-score 85 из 100 баллов
                        .cld__item-img 
                            img(src="@img/doctor-2.png", alt="" draggable="false")
                    a(href="#!").cld__item-link Подробнее о враче →
                .cld__item.white  
                    .cld__item-content 
                        .cld__item-info 
                            p.cld__item-place 3 МЕСТО
                            p.cld__item-title Анастасия Вячеславовна Иванова
                            p.cld__item-score 80 из 100 баллов
                        .cld__item-img 
                            img(src="@img/doctor-3.png", alt="" draggable="false")
                    a(href="#!").cld__item-link Подробнее о враче →
                .cld__item.white  
                    .cld__item-content 
                        .cld__item-info 
                            p.cld__item-place 4 МЕСТО
                            p.cld__item-title Анастасия Вячеславовна Иванова
                            p.cld__item-score 75 из 100 баллов
                        .cld__item-img 
                            img(src="@img/doctor-4.png", alt="" draggable="false")
                    a(href="#!").cld__item-link Подробнее о враче →
                .cld__item.white  
                    .cld__item-content 
                        .cld__item-info 
                            p.cld__item-place 5 МЕСТО
                            p.cld__item-title Анастасия Вячеславовна Иванова
                            p.cld__item-score 70 из 100 баллов
                        .cld__item-img 
                            img(src="@img/doctor-5.png", alt="" draggable="false")
                    a(href="#!").cld__item-link Подробнее о враче →
                a(href="#!").cld__link Открыть  полный рейтинг врачей
        p.cld__p Участниками рейтинга могут стать ортодонты, а также клиники Москвы и Санкт-Петербурга, отвечающие высокому уровню клинического сопровождения и сервиса.