mixin dc()
    section.dc#dc   
        .dc__container.container 
            .dc__top 
                .dc__top-left 
                    .dc__top-img 
                        .dc__top-img-item 
                            img(src="@img/dc-1.png", alt="" draggable="false")
                        .dc__top-img-item 
                            img(src="@img/dc-2.png", alt="" draggable="false")
                        .dc__top-img-item 
                            img(src="@img/dc-3.png", alt="" draggable="false")
                    a(href="#!").dc__top-link Подробнее об экспертах рейтинга → 
                .dc__top-info 
                    h2.dc__top-title Методы оценки участников были разработаны совместно с лучшими специалистами в сфере ортодонтии
                    p.dc__top-p Участники оцениваются независимо и прозрачно на основе соответствия следующим параметрам: 
            .dc__content 
                .dc__tag 
                    .dc__tag-title ДЛЯ ВРАЧЕЙ
                    .dc__tag-content 
                        .dc__tag-item Экспертность
                        .dc__tag-item Уникальные навыки / авторские методики
                        .dc__tag-item Количество и качество завершенных клинических случаев
                        .dc__tag-item Умение работать с новейшим оборудованием
                        .dc__tag-item Сотрудничество с авторитетными поставщиками
                .dc__tag 
                    .dc__tag-title ДЛЯ КЛИНИК
                    .dc__tag-content 
                        .dc__tag-item Опыт клиники
                        .dc__tag-item Экспертность команды врачей 
                        .dc__tag-item Комплексность стоматологических услуг
                        .dc__tag-item Высокий уровень сервиса 
                        .dc__tag-item Техническое оснащение 
                        .dc__tag-item Сотрудничество с авторитетными поставщиками
            .dc__bot 
                p.dc__bot-title Более подробную информацию о рейтинге и критериях оценки можно узнать здесь:
                a(href="#!").dc__bot-btn Подробнее о рейтинге  
