mixin experts()
    section.experts#experts 
        .experts__container.container 
            h1.experts__title ЭСПЕРТЫ И ПАРТНЕРЫ РЕЙТИНГА
            p.experts__subtitle ЭКСПЕРТЫ
            .experts__item 
                .experts__item-img 
                    img(src="@img/expert-1.png", alt="" draggable="false")
                .experts__item-content  
                    p.experts__item-title Михаил Морозов
                    p.experts__item-link Instagram: @mikhailmorozov_orthopro
                    p.experts__item-p Врач-ортодонт, лидер мнений и лектор одного из лидирующих производителей брекет-систем – компании Ormco. В 2019 году он вошёл в международную команду лекторов, презентовав свои клинические кейсы ортодонтам – лидерам мнений стран Европы и Ближнего Востока.<br /><br />Лекторский опыт Михаила Сергеевича – это 1000+ академических часов, 5 полноценных программ авторских тренингов и 70 проведённых семинаров и вебинаров по ортодонтическому лечению. 
            .experts__item 
                .experts__item-content  
                    p.experts__item-title Марина Дубовская
                    p.experts__item-link Instagram: @dr.dubovskaya
                    p.experts__item-p Спикер медицинских конференции. Является постоянным лектором и лидером мнений транснациональной компании Ormco и автором 30 тематик лекций и практических семинаров для врачей-ортодонтов. <br /><br />Проводит обучающие офис-курсы для повышения квалификации и мануальных навыков для врачей-ортодонтов из регионов России и стран СНГ. Регулярно посещает крупнейшие европейские ортодонтические конференции и события.
                .experts__item-img 
                    img(src="@img/expert-2.png", alt="" draggable="false")
    section.partners#partners 
        .partners__container.container 
            p.experts__subtitle Об участниках рейтинга пишут
            .partners__content 
                .partners__item 
                    img(src="@img/partner-1.png", alt="" draggable="false")
                .partners__item 
                    img(src="@img/partner-2.png", alt="" draggable="false")
                .partners__item 
                    img(src="@img/partner-3.png", alt="" draggable="false")
                .partners__item 
                    img(src="@img/partner-4.png", alt="" draggable="false")
                .partners__item 
                    img(src="@img/partner-5.png", alt="" draggable="false")
                .partners__item 
                    img(src="@img/partner-6.png", alt="" draggable="false")
                .partners__item 
                    img(src="@img/partner-7.png", alt="" draggable="false")
                .partners__item 
                    img(src="@img/partner-8.png", alt="" draggable="false")
