mixin footer()
    footer.footer   
        .footer__body.container 
            .footer__menu.f 
                p.footer__title.mb © Top-ortodont.ru, 2022 г. 
                p.footer__link Все права защищены. Любое копирование материалов сайта запрещено вне зависимости от целей использования.
            .footer__menu 
                p.footer__title РЕЙТИНГ
                a(href="index.html#doctors").footer__link Врачи 
                a(href="index.html#clinics").footer__link Клиники 
            .footer__menu 
                p.footer__title ИНФОРМАЦИЯ
                a(href="rating.html").footer__link О рейтинге 
                a(href="partners.html").footer__link Партнеры 
            .footer__menu 
                p.footer__title КОНТАКТЫ
                a(href="mailto:top-ortodont@mail.ru").footer__link top-ortodont@mail.ru 