mixin header()
    header.header 
        .header__nav.container 
            .header__menu
                a(href="index.html#doctors").header__link Врачи
                a(href="index.html#clinics").header__link Клиники
                a(href="rating.html").header__link О рейтинге
                a(href="partners.html").header__link Партнеры
                .header__loc 
                    <svg width="14" height="21" viewBox="0 0 14 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 20.5L6.56923 20.0068C6.3 19.7329 0 12.1712 0 7.62329C0 3.67808 3.12308 0.5 7 0.5C10.8769 0.5 14 3.67808 14 7.62329C14 12.1712 7.7 19.7329 7.43077 20.0616L7 20.5ZM7 1.59589C3.71538 1.59589 1.07692 4.28082 1.07692 7.62329C1.07692 11.1301 5.6 17.0479 7 18.8014C8.4 17.0479 12.9231 11.1301 12.9231 7.62329C12.9231 4.28082 10.2846 1.59589 7 1.59589Z" fill="black"/>
                        <path d="M7 10.363C5.49231 10.363 4.30769 9.15753 4.30769 7.62329C4.30769 6.08904 5.49231 4.88356 7 4.88356C8.50769 4.88356 9.69231 6.08904 9.69231 7.62329C9.69231 9.15753 8.50769 10.363 7 10.363ZM7 5.97945C6.08462 5.97945 5.38462 6.69178 5.38462 7.62329C5.38462 8.55479 6.08462 9.26712 7 9.26712C7.91539 9.26712 8.61539 8.55479 8.61539 7.62329C8.61539 6.69178 7.91539 5.97945 7 5.97945Z" fill="black"/>
                    </svg>
                    | Санкт-Петербург
                button(type="button").header__btn Оставить заявку
            .header__right 
                .header__loc 
                    <svg width="14" height="21" viewBox="0 0 14 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 20.5L6.56923 20.0068C6.3 19.7329 0 12.1712 0 7.62329C0 3.67808 3.12308 0.5 7 0.5C10.8769 0.5 14 3.67808 14 7.62329C14 12.1712 7.7 19.7329 7.43077 20.0616L7 20.5ZM7 1.59589C3.71538 1.59589 1.07692 4.28082 1.07692 7.62329C1.07692 11.1301 5.6 17.0479 7 18.8014C8.4 17.0479 12.9231 11.1301 12.9231 7.62329C12.9231 4.28082 10.2846 1.59589 7 1.59589Z" fill="black"/>
                        <path d="M7 10.363C5.49231 10.363 4.30769 9.15753 4.30769 7.62329C4.30769 6.08904 5.49231 4.88356 7 4.88356C8.50769 4.88356 9.69231 6.08904 9.69231 7.62329C9.69231 9.15753 8.50769 10.363 7 10.363ZM7 5.97945C6.08462 5.97945 5.38462 6.69178 5.38462 7.62329C5.38462 8.55479 6.08462 9.26712 7 9.26712C7.91539 9.26712 8.61539 8.55479 8.61539 7.62329C8.61539 6.69178 7.91539 5.97945 7 5.97945Z" fill="black"/>
                    </svg>
                    | Санкт-Петербург
                button(type="button").header__btn Оставить заявку
            button.header__button 
                span.header__button-line