mixin info()
    section.info#info 
        .info__container.container 
            .info__top 
                .info__top-content 
                    h2.info__top-title Для чего создан рейтинг ортодонтов?
                    .info__top-row 
                        p.info__top-p Многие не могут решиться на прохождение ортодонтического лечения годами. И все из-за непонимания, как самостоятельно выбрать действительно надежного и грамотного врача.
                        p.info__top-p Задача рейтинга – совместно с экспертами в области ортодонтии выявить настоящих лидеров по уровню навыков, опыта и технологий, используемых в клиниках.
                    p.info__top-text В рейтинг попали только те врачи и клиники, которые смогли пройти сложный отбор экспертов по различным критериям оценки
                .info__top-img 
                    img(src="@img/info-1.svg", alt="" draggable="false")
            .info__bot 
                .info__bot-img 
                    img(src="@img/info-2.svg", alt="" draggable="false")
                p.info__bot-p Клиники получают высокие позиции в рейтинге, имея в штате лучших специалистов области, а также современное оборудование, способное оснастить медицинское учреждение широким спектром ортодонтических услуг.<br/><br/>Также мы учитываем высокое качество обслуживания пациентов со стороны клиники и врача.
            .info__tag  
                p.info__tag-title Основными правилами рейтинга ортодонтов являются: 
                .info__tag-content 
                    .info__tag-item Открытость 
                    .info__tag-item Прозрачность оценки 
                    .info__tag-item Независимость 
                    .info__tag-item Современность 
                    .info__tag-item Экспертность 
