mixin intro()
    section.intro#intro 
        .intro__container.container     
            h1.intro__title Рейтинг лучших ортодонтов<br>в Санкт-Петербурге
            p.intro__p Выбирайте своего доктора на основе объективной оценки экспертов в ортодонтии