doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.min.css")
        title Document
    body 
        .wrapper 
            include components/header 
            +header 
            main.main 
                .f.container 
                    .f__svg 
                        <svg width="795" height="370" viewBox="0 0 795 370" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_302_143)">
                            <path d="M395.91 248.25C332.707 248.25 281.43 261.632 281.43 277.93C281.43 294.36 332.707 307.742 395.91 307.742C452.222 307.742 499.127 297.142 508.667 283.23C509.86 281.507 510.39 279.785 510.39 278.063C510.39 261.633 459.112 248.25 395.91 248.25ZM395.91 282.17C359.472 282.17 330.057 277.798 330.057 272.365C330.057 272.365 330.057 272.232 330.057 271.967C330.057 271.835 330.057 271.835 330.19 271.703C330.19 271.703 330.19 271.57 330.322 271.57C332.84 266.535 361.327 262.56 395.91 262.56C429.3 262.56 456.86 266.27 461.1 271.04C461.497 271.438 461.63 271.835 461.63 272.233V272.365C461.762 277.798 432.215 282.17 395.91 282.17Z" fill="#2213AC"/>
                            <path d="M258.64 257.658H148.4C145.618 257.658 142.835 258.585 140.583 260.308L98.1825 293.565C96.195 295.155 97.255 298.335 99.7725 298.335H216.24C219.155 298.335 222.07 297.142 224.19 295.155L259.833 260.705C261.025 259.645 260.23 257.658 258.64 257.658Z" fill="#2213AC"/>
                            <path d="M696.023 257.658H585.65C582.868 257.658 580.085 258.585 577.833 260.308L535.433 293.565C533.445 295.155 534.505 298.335 537.023 298.335H653.49C656.405 298.335 659.32 297.142 661.44 295.155L697.082 260.705C698.407 259.645 697.613 257.658 696.023 257.658Z" fill="#2213AC"/>
                            <path d="M395.91 242.818C332.707 242.818 281.43 256.2 281.43 272.498C281.43 288.928 332.707 302.31 395.91 302.31C452.222 302.31 499.127 291.71 508.667 277.798C509.86 276.075 510.39 274.353 510.39 272.63C510.39 256.2 459.112 242.818 395.91 242.818ZM395.91 276.738C359.472 276.738 330.057 272.365 330.057 266.933C330.057 266.933 330.057 266.8 330.057 266.535C330.057 266.403 330.057 266.403 330.19 266.27C330.19 266.27 330.19 266.138 330.322 266.138C332.84 261.103 361.327 257.128 395.91 257.128C429.3 257.128 456.86 260.838 461.1 265.608C461.497 266.005 461.63 266.403 461.63 266.8V266.933C461.762 272.365 432.215 276.738 395.91 276.738Z" fill="#BE9EEA"/>
                            <path d="M508.667 277.798C499.127 291.71 452.355 302.31 395.91 302.31C332.707 302.31 281.43 288.928 281.43 272.498C281.43 272.498 301.305 296.48 391.935 296.48C469.845 296.613 501.247 281.905 508.667 277.798Z" fill="#F1E4FF"/>
                            <path d="M461.1 265.608C456.727 260.838 429.167 257.128 395.91 257.128C361.195 257.128 332.84 261.103 330.322 266.138C331.515 263.223 339.465 253.153 395.91 253.153C447.85 253.153 458.847 262.163 461.1 265.608Z" fill="#F1E4FF"/>
                            <path d="M259.568 257.657L236.38 91.7675C236.115 90.045 234.658 88.72 232.803 88.72H201.533C199.413 88.72 197.69 90.575 197.955 92.8275L205.773 155.5C206.038 158.017 204.183 160.137 201.665 160.137H165.89C163.638 160.137 161.783 158.415 161.65 156.162L158.735 92.2975C158.603 90.31 157.013 88.8525 155.158 88.8525H125.875C123.755 88.8525 122.165 90.575 122.298 92.5625L126.273 201.742C126.405 205.187 129.32 207.97 132.765 207.97H212.398L218.625 257.922H259.568V257.657Z" fill="#2213AC"/>
                            <path d="M696.95 257.657L673.762 91.7675C673.497 90.045 672.04 88.72 670.185 88.72H638.915C636.795 88.72 635.072 90.575 635.337 92.8275L643.155 155.5C643.42 158.017 641.565 160.137 639.047 160.137H603.272C601.02 160.137 599.165 158.415 599.032 156.162L596.117 92.2975C595.985 90.31 594.395 88.8525 592.54 88.8525H563.39C561.27 88.8525 559.68 90.575 559.812 92.5625L563.787 201.742C563.92 205.187 566.835 207.97 570.28 207.97H649.912L656.14 257.922H696.95V257.657Z" fill="#2213AC"/>
                            <path d="M235.452 93.49L217.962 291.71C217.697 295.42 214.517 298.335 210.807 298.335H184.572C180.2 298.335 176.887 294.492 177.417 290.252L188.415 197.37L109.842 198.695C105.47 198.695 102.157 194.852 102.952 190.612L103.217 188.89L121.237 92.2975C121.767 89.6475 124.02 87.66 126.802 87.66H151.845C155.29 87.66 157.94 90.84 157.41 94.285L146.677 155.235C146.28 157.752 148.135 159.872 150.652 159.872H188.15L196.895 92.165C197.292 89.515 199.545 87.5275 202.195 87.5275H230.152C233.2 87.66 235.717 90.4425 235.452 93.49Z" fill="url(#paint0_linear_302_143)"/>
                            <path d="M188.945 188.89L188.282 197.37L109.71 198.695C105.337 198.695 102.025 194.852 102.82 190.612L103.085 188.89H188.945Z" fill="#F1E4FF"/>
                            <path d="M235.452 93.4899L217.962 291.71C217.697 295.42 214.517 298.335 210.807 298.335H206.832L227.635 87.6599H230.152C233.2 87.6599 235.717 90.4424 235.452 93.4899Z" fill="#F1E4FF"/>
                            <path d="M146.545 155.368C146.147 157.885 148.002 160.005 150.52 160.005H142.835C140.052 160.005 137.8 157.488 138.33 154.705L150.122 87.7925H151.845C155.29 87.7925 157.94 90.9725 157.41 94.4175L146.545 155.368Z" fill="#F1E4FF"/>
                            <path d="M672.702 93.49L655.212 291.71C654.947 295.42 651.768 298.335 648.058 298.335H621.822C617.45 298.335 614.137 294.492 614.667 290.252L625.665 197.37L547.093 198.695C542.72 198.695 539.408 194.852 540.203 190.612L540.468 188.89L558.488 92.2975C559.018 89.6475 561.27 87.66 564.053 87.66H589.095C592.54 87.66 595.19 90.84 594.66 94.285L583.928 155.235C583.53 157.752 585.385 159.872 587.903 159.872H625.4L634.145 92.165C634.543 89.515 636.795 87.5275 639.445 87.5275H667.403C670.583 87.66 673.1 90.4425 672.702 93.49Z" fill="url(#paint1_linear_302_143)"/>
                            <path d="M626.328 188.89L625.665 197.37L547.093 198.695C542.72 198.695 539.408 194.852 540.203 190.612L540.468 188.89H626.328Z" fill="#F1E4FF"/>
                            <path d="M672.702 93.4899L655.213 291.71C654.948 295.42 651.768 298.335 648.058 298.335H644.083L664.885 87.6599H667.403C670.583 87.6599 673.1 90.4424 672.702 93.4899Z" fill="#F1E4FF"/>
                            <path d="M583.927 155.368C583.53 157.885 585.385 160.005 587.902 160.005H580.217C577.435 160.005 575.182 157.488 575.712 154.705L587.505 87.7925H589.227C592.672 87.7925 595.322 90.9725 594.792 94.4175L583.927 155.368Z" fill="#F1E4FF"/>
                            <path opacity="0.28" d="M343.573 133.903L316.41 271.703C314.953 279.123 319.723 286.145 326.215 286.145H470.11C476.47 286.145 481.24 279.388 480.048 272.233L457.788 134.433C456.86 128.868 452.753 124.892 447.85 124.892H353.51C348.74 124.76 344.633 128.603 343.573 133.903Z" fill="#FF97C9"/>
                            <path d="M466.268 142.515L479.385 186.108C479.65 187.035 480.577 187.565 481.505 187.167C482.167 186.902 482.697 186.108 482.432 185.312L473.82 140.66C473.29 138.275 470.64 136.95 468.388 137.878C466.665 138.673 465.738 140.528 466.268 142.515Z" fill="url(#paint2_linear_302_143)"/>
                            <path d="M441.49 158.283L449.97 191.937C450.103 192.6 450.765 192.865 451.295 192.732C451.825 192.6 452.09 192.07 451.958 191.54L446.525 157.222C446.26 155.632 444.537 154.572 442.947 155.235C441.887 155.765 441.225 156.958 441.49 158.283Z" fill="url(#paint3_linear_302_143)"/>
                            <path d="M330.985 146.755L319.988 180.278C319.855 180.94 319.06 181.205 318.53 180.94C318 180.675 317.735 180.145 317.868 179.615L325.817 145.297C326.215 143.707 328.07 142.78 329.527 143.442C330.852 144.105 331.383 145.43 330.985 146.755Z" fill="url(#paint4_linear_302_143)"/>
                            <path d="M352.847 157.09L338.537 219.365C338.405 220.027 337.742 220.292 337.212 220.16C336.682 220.027 336.417 219.497 336.55 218.967L347.812 156.03C348.077 154.44 349.8 153.38 351.39 154.042C352.582 154.44 353.245 155.765 352.847 157.09Z" fill="url(#paint5_linear_302_143)"/>
                            <path d="M383.19 164.377L376.3 209.56C376.167 210.222 375.505 210.62 374.975 210.355C374.445 210.222 374.18 209.692 374.18 209.162L377.89 163.582C378.155 161.992 379.745 160.932 381.335 161.462C382.66 161.727 383.455 163.052 383.19 164.377Z" fill="url(#paint6_linear_302_143)"/>
                            <path d="M418.7 163.45L420.423 235.133C420.423 235.795 419.893 236.193 419.23 236.193C418.7 236.06 418.303 235.663 418.303 235.133L413.4 163.45C413.4 161.728 414.858 160.535 416.448 160.8C417.773 161.065 418.7 162.258 418.7 163.45Z" fill="url(#paint7_linear_302_143)"/>
                            <path d="M281.032 98.3924C279.575 96.6699 278.515 94.9474 277.72 93.2249L274.672 72.8199L281.695 79.3124L281.032 98.3924Z" fill="#738DE0"/>
                            <path d="M478.723 105.282C478.723 105.282 474.35 114.425 464.81 124.627C452.885 137.347 432.745 151.79 402.8 151.79C381.733 151.79 366.097 144.767 354.967 136.287C337.477 123.037 330.587 106.077 330.587 106.077L478.723 105.282Z" fill="#2213AC"/>
                            <path d="M478.723 105.282C478.723 105.282 474.35 114.425 464.81 124.627C454.608 128.602 442.02 131.915 426.385 134.035C395.645 138.142 371.662 137.877 354.967 136.287C337.477 123.037 330.587 106.077 330.587 106.077L478.723 105.282Z" fill="url(#paint8_linear_302_143)"/>
                            <path d="M525.362 72.025C525.362 72.025 524.567 80.3725 521.917 90.7075C521.52 92.165 520.857 93.8875 519.797 95.4775C517.015 99.9825 511.715 104.885 503.102 109.522C501.645 110.317 499.922 111.112 498.2 111.907C496.875 112.57 495.55 113.1 494.092 113.762C492.105 114.557 490.117 115.352 487.997 116.147C480.577 118.797 471.832 121.05 461.497 123.17C460.702 123.302 460.04 123.435 459.245 123.567C457.257 123.965 454.872 124.23 452.355 124.495C441.755 125.687 427.71 126.482 412.738 126.747C409.955 126.747 407.173 126.88 404.39 126.88C390.213 127.012 375.902 126.615 363.447 125.952C360.797 125.82 358.148 125.687 355.763 125.422C348.475 124.892 342.115 124.097 337.478 123.17C330.72 121.845 324.625 120.387 319.193 118.797C316.94 118.135 314.82 117.472 312.7 116.81C296.27 111.377 286.333 104.752 281.165 98.6575C280.37 97.73 279.708 96.935 279.178 96.0075C278.648 95.2125 278.118 94.285 277.853 93.49C277.455 92.5625 277.058 91.7675 276.925 90.84C275.733 85.9375 274.805 80.9025 274.408 77.06C273.878 72.6875 273.745 69.7725 273.745 69.7725L399.62 79.18L525.495 72.1575L525.362 72.025Z" fill="#9BC8E7"/>
                            <path d="M525.23 71.7599C525.23 72.6874 524.568 73.8799 523.375 75.3374C520.062 79.1799 512.112 84.8774 498.597 90.0449C496.875 90.7074 495.02 91.3699 493.033 92.0324C492.105 92.2974 491.177 92.6949 490.25 92.9599C488.262 93.6224 486.143 94.2849 483.89 94.8149C476.338 96.9349 467.592 98.9224 457.522 100.38C455.137 100.777 452.62 101.175 449.97 101.44C438.84 102.897 426.385 103.825 412.472 104.09C409.822 104.09 407.04 104.222 404.258 104.222H404.125C389.947 104.222 376.83 103.56 365.037 102.5C362.387 102.235 359.738 101.97 357.22 101.705C344.235 100.247 332.708 98.1274 322.77 95.7424C320.517 95.2124 318.265 94.5499 316.145 94.0199C296.402 88.5874 283.417 81.8299 277.455 76.2649C276.262 75.2049 275.335 74.0124 274.672 73.0849C273.877 71.8924 273.48 70.8324 273.48 69.7724C273.48 60.3649 310.58 40.3575 404.787 40.3575C498.995 40.225 525.23 65.2674 525.23 71.7599Z" fill="#2213AC"/>
                            <path d="M350.462 51.09L281.563 79.3125C278.913 77.59 275.203 73.88 274.54 72.82L348.21 49.8975L350.462 51.09Z" fill="#072359"/>
                            <path d="M525.23 71.8924C525.23 72.6874 524.567 73.8799 523.375 75.3374L452.62 51.0899L454.872 50.0299L525.23 71.8924Z" fill="#072359"/>
                            <path d="M362.122 58.3775L322.77 95.61C320.518 95.08 318.265 94.4175 316.145 93.8875L359.737 58.245L362.122 58.3775Z" fill="#072359"/>
                            <path d="M383.72 62.7499L365.037 102.5C362.387 102.235 359.738 101.97 357.22 101.705L381.335 62.6174L383.72 62.7499Z" fill="#072359"/>
                            <path d="M457.655 100.512C455.27 100.91 452.62 101.307 450.103 101.572L431.818 62.7499L434.335 62.6174L457.655 100.512Z" fill="#072359"/>
                            <path d="M412.472 104.222C409.822 104.222 407.04 104.355 404.258 104.355H404.125L407.305 65.2675L409.822 65.135L412.472 104.222Z" fill="#072359"/>
                            <path d="M498.465 90.045C496.743 90.7075 494.888 91.37 492.9 92.0325L445.333 58.3775L447.85 58.245L498.465 90.045Z" fill="#072359"/>
                            <path d="M412.605 126.482C409.822 126.482 407.04 126.615 404.258 126.615V104.222L412.472 104.09L412.605 126.482Z" fill="#738DE0"/>
                            <path d="M458.98 123.302C456.86 123.7 454.608 123.965 452.09 124.23L449.97 101.44L457.523 100.38L458.98 123.302Z" fill="#738DE0"/>
                            <path d="M502.97 109.39C501.512 110.185 499.79 110.98 498.067 111.775L493.032 91.8999L498.465 90.0449L502.97 109.39Z" fill="#738DE0"/>
                            <path d="M365.038 102.5L363.447 125.687C360.797 125.555 358.147 125.422 355.762 125.157L357.353 101.705L365.038 102.5Z" fill="#738DE0"/>
                            <path d="M322.77 95.61L319.06 118.532C316.807 117.87 314.687 117.207 312.567 116.545L316.012 93.8875L322.77 95.61Z" fill="#738DE0"/>
                            <path d="M281.695 79.5774L279.045 95.8749C278.515 95.0799 277.985 94.1524 277.72 93.3574C277.323 92.4299 276.925 91.6349 276.792 90.7074C275.6 85.8049 274.672 80.7699 274.275 76.9274L274.672 72.9524C274.672 72.9524 276.925 75.6024 277.852 76.5299C278.647 77.3249 281.695 79.5774 281.695 79.5774Z" fill="#738DE0"/>
                            <path d="M398.56 81.035C437.564 81.035 469.183 72.0773 469.183 61.0275C469.183 49.9777 437.564 41.02 398.56 41.02C359.556 41.02 327.938 49.9777 327.938 61.0275C327.938 72.0773 359.556 81.035 398.56 81.035Z" fill="url(#paint9_linear_302_143)"/>
                            <path d="M463.087 57.8474C463.087 57.8474 457.92 63.6774 445.2 68.7124C435.792 72.4224 422.278 75.6024 403.728 75.6024C393.525 75.6024 384.648 74.6749 377.228 73.2174C352.45 68.4474 341.717 58.1124 341.717 58.1124C341.717 58.1124 347.15 17.8324 381.07 4.18494C387.96 1.40244 396.175 -0.320068 405.715 -0.320068C452.355 -0.320068 463.087 57.8474 463.087 57.8474Z" fill="#9BC8E7"/>
                            <path d="M377.228 73.2174C352.45 68.4474 341.717 58.1124 341.717 58.1124C341.717 58.1124 347.15 17.8324 381.07 4.18494C374.445 9.74994 367.952 20.8799 366.892 39.0324C365.832 52.5475 369.013 63.8099 377.228 73.2174Z" fill="#6165D7"/>
                            <path d="M463.087 57.8475C463.087 57.8475 457.92 63.6775 445.2 68.7125C443.212 61.2925 440.165 54.6674 440.165 54.6674C440.165 54.6674 427.71 57.3175 422.145 45.525C416.58 33.7325 429.962 25.2524 429.962 25.2524C429.962 25.2524 426.783 15.0499 410.353 8.42494C393.923 1.79994 380.805 4.18495 380.805 4.18495C387.695 1.40244 395.91 -0.320068 405.45 -0.320068C452.355 -0.320068 463.087 57.8475 463.087 57.8475Z" fill="#F2F7FF" fill-opacity="0.7"/>
                            <path d="M409.69 32.9374C411.666 32.9374 413.267 31.395 413.267 29.4924C413.267 27.5897 411.666 26.0474 409.69 26.0474C407.714 26.0474 406.112 27.5897 406.112 29.4924C406.112 31.395 407.714 32.9374 409.69 32.9374Z" fill="#C2D1FF"/>
                            <path d="M397.235 36.2499C398.772 36.2499 400.018 35.0635 400.018 33.5999C400.018 32.1364 398.772 30.95 397.235 30.95C395.698 30.95 394.453 32.1364 394.453 33.5999C394.453 35.0635 395.698 36.2499 397.235 36.2499Z" fill="#C2D1FF"/>
                            <path d="M405.582 54.1374C408.583 54.1374 411.015 51.7645 411.015 48.8374C411.015 45.9103 408.583 43.5374 405.582 43.5374C402.582 43.5374 400.15 45.9103 400.15 48.8374C400.15 51.7645 402.582 54.1374 405.582 54.1374Z" fill="#C2D1FF"/>
                            </g>
                            <defs>
                            <linearGradient id="paint0_linear_302_143" x1="185.736" y1="244.645" x2="99.5823" y2="44.6568" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#E38DDD"/>
                            <stop offset="1" stop-color="#9571F6"/>
                            </linearGradient>
                            <linearGradient id="paint1_linear_302_143" x1="623" y1="244.645" x2="536.856" y2="44.6464" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#E38DDD"/>
                            <stop offset="1" stop-color="#9571F6"/>
                            </linearGradient>
                            <linearGradient id="paint2_linear_302_143" x1="31024.9" y1="117636" x2="60194.5" y2="144356" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FFC444"/>
                            <stop offset="1" stop-color="#F36F56"/>
                            </linearGradient>
                            <linearGradient id="paint3_linear_302_143" x1="20137.6" y1="89319.1" x2="41676.3" y2="106077" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FFC444"/>
                            <stop offset="1" stop-color="#F36F56"/>
                            </linearGradient>
                            <linearGradient id="paint4_linear_302_143" x1="25088.6" y1="89506.2" x2="47352.5" y2="111243" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FFC444"/>
                            <stop offset="1" stop-color="#F36F56"/>
                            </linearGradient>
                            <linearGradient id="paint5_linear_302_143" x1="31013.4" y1="156951" x2="67528.1" y2="182113" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FFC444"/>
                            <stop offset="1" stop-color="#F36F56"/>
                            </linearGradient>
                            <linearGradient id="paint6_linear_302_143" x1="17274.5" y1="116223" x2="40764.5" y2="128271" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FFC444"/>
                            <stop offset="1" stop-color="#F36F56"/>
                            </linearGradient>
                            <linearGradient id="paint7_linear_302_143" x1="13511.9" y1="178411" x2="35062.9" y2="183989" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#FFC444"/>
                            <stop offset="1" stop-color="#F36F56"/>
                            </linearGradient>
                            <linearGradient id="paint8_linear_302_143" x1="527135" y1="65536.2" x2="533794" y2="107211" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#09005D"/>
                            <stop offset="1" stop-color="#1A0F91"/>
                            </linearGradient>
                            <linearGradient id="paint9_linear_302_143" x1="502630" y1="81650" x2="513305" y2="132724" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#09005D"/>
                            <stop offset="1" stop-color="#1A0F91"/>
                            </linearGradient>
                            <clipPath id="clip0_302_143">
                            <rect width="795" height="370" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>
                    h1.f__title ОШИБКА
                    p.f__p Страница с такой ссылкой не существует или она была удалена
                    a(href="index.html").f__btn Вернуться на главную 
            include components/footer 
            +footer
        script(src="js/app.min.js") 